<div class="mat-wrap col-lg-12" style="margin-top: 1rem;">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://www.meetup.com/Veterans-in-Technology/" target="_blank">
        <img class="d-block w-100" src="assets/images/partners/PDX-VIT.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>PDX Veterans in Technology</h5>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="http://www.veteranslegacies.com/" target="_blank">
        <img class="d-block w-100" src="assets/images/partners/Veterans-Legacies.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Veteran's Legacies</h5>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.anitian.com/" target="_blank">
        <img class="d-block w-100" src="assets/images/partners/Anitian.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 id="anitian">Anitian &amp; Sherlock Cloud</h5>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
