
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: white!important;">
  <a class="navbar-brand"> <img src="assets/images/logo.png" style="height: 30px; width: auto;" alt=""> The Cyber Warriors</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#goes-with-navbar" aria-controls="goes-with-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="goes-with-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#register"> <i class="fa fa-address-book"></i> Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#field-guide"> <i class="fa fa-book"></i> Field Guide</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faqs"> <i class="fa fa-question-circle"></i> FAQs</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#interview"> <i class="fa fa-tasks"></i> Interview Prep</a>
      </li>
      -->
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <div class="fab d-flex">
        <a target="_blank" class="mx-2" href="mailto:cybersec.swat@gmail.com?subject=The%20Cyber%20Warriors&body=The%20Cyber%20Warriors,%0A%0AI%20am%20reaching%20out%20to%20you%20concerning%20...">
          <i class="fa fa-envelope"></i>
        </a>
        <a target="_blank" href="https://twitter.com/CyberWarriorsUS" class="mx-2">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/company/the-cyber-warriors/" class="mx-2">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>

    </form>
  </div>
</nav>
