  <div class="container-fluid" style="padding: 0;">
    <div class="row">
        <ul class="col-lg-12 col-xs-12 nav nav-tabs" style="border-bottom: 0">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#mission">Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#outreach">Outreach</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Partnerships</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="tab" href="#our-partners">Our Partners</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://goo.gl/forms/jS4fRwJbm1Ul05vn2">Become a Partner</a>
            </div>
          </li>
        </ul>
    </div> <!-- row -->
    <div class="row">
      <div class="col">
        <div id="myTabContent" class="tab-content" style="padding-bottom: 1rem;">
          <div class="tab-pane fade show active" id="mission">
            <div class="row">
              <div class="col-lg-6">
                <div class="card mat-wrap border-light mb-3" style="max-width: 45rem; margin-top: 1rem;">
                  <div class="card-body">
                    <h4 class="card-title">Our Mission</h4>
                    <hr>
                    <p class="card-text">The Cyber Warriors assists Veterans, Active Military, National Guard, and Reservist with cybersecurity careers by identifying the organizations that provide training and certifications, and the institutions that have cybersecurity positions available.  We work behind the scenes to build mutually beneficial relationships, introducing candidates to experts with the inside scoop on technology trends and who's hiring. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mat-wrap border-light mb-3" style="max-width: 45rem; margin-top: 1rem;">
                  <div class="card-body">
                    <h4 class="card-title">How We Help</h4>
                    <hr>
                    <p class="card-text"> Whether you're leaving the military or just looking for your next position, our experts help you meet your goals on an individual basis. Interested in cybersecurity careers? We connect heroes to hiring managers and IT training resources. Register now! </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="outreach">
            <div class="row">

              <div class="col-lg-6">
                <div class="card mat-wrap border-light mb-3 text-center" style="max-width: 45rem; margin-top: 1rem;">
                  <div class="card-body">
                    <i class="fa fa-map-marker"></i>
                    <hr>
                    <h4 class="card-title">Portland, OR</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mat-wrap border-light mb-3 text-center" style="max-width: 45rem; margin-top: 1rem;">
                  <div class="card-body">
                    <i class="fa fa-map-marker"></i>
                    <hr>
                    <h4 class="card-title">Vancouver, WA</h4>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="our-partners">
            <app-carousel></app-carousel>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5" style="margin-left: 0; margin-top: 1rem;">
        <div class="alert alert-dismissible alert-primary" style="margin-left: 0;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4 class="alert-heading">Looking for online resources?</h4>
          <p>Check out the <strong>Field Manual</strong>. It contains resources for resumes, interview preparation, certifications, and much more. </p>
          <p class="text-center"><a class="btn btn-secondary btn-lg btn-block" style="text-decoration: none" href="#field-guide" role="button">Field Guide</a></p>
        </div>
      </div>
    </div>
    <!-- row -->
