@import '../../styles.scss';

$banner-header-overflow : 472px;
$mobile-width: 360;

.jumbotron {
  margin-bottom: 1rem;
  padding: 2rem;
  padding-top: 3rem;
  background-color: rgba(255,255,255, 0.8);

  #title {
    color: rgba(255,255,255,0.7);
    background-color: $circuit-green-dark;
    display: inline-block;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 8px 8px 2px mix(rgba(255,255,255,0.3), $circuit-green);
  }
}

p {
  opacity: 0.7;
}
