<div class="jumbotron" id="faqs">
  <p class="lead text-muted py-2" style="text-align:center">Frequently Asked Questions</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="text-align:center;">
        <h1 class="display-3" id="title">FAQs</h1>
        <hr>
      </div>
      <div class="col-lg-12">

        <div class="container-fluid">
        <section>
        <h2 class="pt-4"> What are the career opportunities in Cybersecurity? </h2>
        <p> Indicating an interest in <em>Cybersecurity</em> is not dissimilar from asserting your interest in <em>Health Care</em>. Just like Health Care, Cybersecurity spans a broad spectrum of possible roles; some Cybersecurity roles may pertain to Risk Mitigation, Insurance, Information Technology, IT Infrastructure, IT Administration, Physicians, Nurses, ... and the list goes on. However, careers in Cybersecurity typically begin at <em>a feeder role</em>, and then transition into a more specific field of Cybersecurity. We'll explore this thought in further detail below. </p>
        <p> Concerning jobs, there is definitely a shortage for qualified Cybersecurity professionals. They key word here being - qualified. So what determines the qualifications for Cybersecurity? If we fall back on the analogy of healthcare and apply the same question; we realize it depends on the aspect of Health Care in which the individual has interest. Following this line of thought, we know Combat Life Savers course does not qualify the certified individual to birth children (yikes!); hence, we can derive a fair amount of information from the desired certifications for a given position - more on that below.  </p>
        <p> For a general overview of typical cyber security roles, The University of San Diego has good <a href="https://onlinedegrees.sandiego.edu/best-jobs-in-cyber-security/">high level overview</a>. For candidates approaching Cybersecurity from a <em>feeder role</em>, <a href="https://www.cyberseek.org/pathway.html">The Cybersecurity Pathway</a> is a great tool to analyse future career opportunities and expectations.   </p>
        </section>

        <section>
        <h2 class="pt-4"> What education/certifications are required? </h2>
        <p> Cybersecurity professionals are expected to be constantly perusing the latest technology and cyber trends. Certifications and education augment a candidate's qualifications and provide credibility; as they are clear indicators of interest in their chosen field. The Cybersecurity Pathway outlines in great detail expected qualifications for assorted positions. However, particular companies may require particular certifications. For instance, if a company is a federal hiring partner, they are suspect to uphold <a href="https://iase.disa.mil/iawip/Pages/iabaseline.aspx">Informational Analyst Tech. credentials</a> .</p>
        </section>

        <section>
          <h2 class="pt-4"> How do you get started in Cybersecurity? </h2>
          <p>
            The <a href="#field-guide">Field Guide</a> has outlined in great detail various avenues of approach to get started in Cybersecurity. The answers reveal themselves as you further refine the question:
          </p>

            <ul>
              <li> Is the candidate qualified for the position? </li>
              <li> Does the candidate have an associated background?</li>
              <li> Is the candidate competitive enough for the position? </li>
              <li> Does the candidate have the associated credentials for the position?</li>
            </ul>

          <p> If the veteran is both qualified and competitive, but isn't finding a fit in cybersecurity the following questions are evaluated: </p>

            <ul>
              <li> Is the candidate getting interviews? <br> (if not - the resume isn't working for the type of job sought after) </li>
              <li> Is the candidate succeeding at interviews? (e.g. appropriately dressed, eye contact, etc) </li>
            </ul>

          <p>
            If the candidate is succeeding at interviews and all of the aforementioned criteria; The Cyber Warrior's approach is to get the Veteran involved. We fulfill this task by introducing the veterans to experts in our ever growing network. You can honestly get some GREAT advice this way. You have to <em>keep your ear to the ground</em> so to speak. Other ways to get involved include going to Cybersecurity and Technology Conferences, as well as <a href="https://ctftime.org/ctf-wtf/">Capture The Flag Events</a> Events. This helps keep the veteran competitive while they prune the job search to fitting roles.
          </p>

        </section>


        <section>
          <h2 class="pt-4"> What is different about interviewing for jobs in Cybersecurity? </h2>
          <p> Typically, you will immediately be given enough rope to hang yourself. The variation of interviewing in Cybersecurity attributes itself to the vastness of the career field. Generally, the candidate should be ready to talk IN-DEPTH about at least one Cyber Threat, the damage it causes, and how it can be mitigated. </p>
        </section>


        <section>
        <h2 class="pt-4"> How can HR managers help Veterans? </h2>
        <p> A huge proponent of the disconnect between candidates and Hiring Managers lies on the inability of the candidates to build a narrative around their service, their skills, and their knowledge. If Hiring Managers can come to the plate with these expectations, the process can be a lot smoother. Some of my best interviews we're when the person on the other end of the conversation revealed they too were a Veteran. Perhaps Hiring Managers perpetually invested in hiring Heroes could have a Veteran on staff join in the conversation.  </p>
        </section>


        </div>

      </div>
    </div>
  </div>
</div>
