
<div class="container-fluid" style="margin-top:42px; padding-top:42px; padding-left: none; margin-left: none" id="field-guide">
  <div class="head">
    <div class="headerobjectswrapper">
        <h1 class="label-bg display-3">Field Guide</h1>
    </div>
    <div class="subhead">Portland, OR | Vancouver, WA - Friday Nov 30, 2018 - Seven Sections</div>
  </div> <!-- head -->
  <div class="content">
    <div class="newspapers row">
      <div class="newspaper col-lg-4 col-xl-3 col-sm-6 col-xs-12">
          <div class="head">
            <span class="headline hl3"> Resumé Makeover </span>
            <p><span class="headline hl4">TRANSLATING YOUR SKILLS</span></p>
          </div>
          <p> During your job search it’s likely you’ve identified skills in your toolset that could use some translating. For instance, suppose during your service you were detailed out to perform a Preventative Maintenance Checks and Services (PMCS) for an entire shop -- you (perhaps unknowingly) were a participant of risk mitigation. Skills translation is one of the many areas where <strong>Hire Heroes USA</strong> and <strong> Military.com</strong> come to the rescue.  </p>
          <p> Hire Heroes USA services are free and most are offered virtually, so they work with clients regardless of location. Clients are individually-paired with a Transition Specialist – many of whom are veterans and military spouses and all of whom understand how challenging the job search can be. The Transition Specialists at Hire Heroes USA will assist you in translating your past experience into a professional resumé and future opportunities. They also offer a job-board and some mentor/mentee opportunities (although not explicitly cybersecurity). </p>
            <p> For a complete overview of available services check out <a href="#https://www.hireheroesusa.org/get-registered/">Hire Heroes USA online</a>. Additionally, Military.com offers a free <a href="https://www.military.com/veteran-jobs/skills-translator">Veteran Jobs Skills Translator</a> to assist in identifying civilian roles correlating to your military occupational specialty, and <a href="https://www.onetonline.org/">O Net Online</a> provides the  verbage to express your day-to-day responsibilities.</p>

          <p> Crafting a interview worthy resumé is a continuous process; not a “one-size fits all” approach. Fortunately, Hire Heroes USA provides online video on demand addressing how to tailor their provided resumé in accordance with job postings. These videos also reveal resources to ensure your resumé properly matches keywords found throughout the listing. However, these resources are not publicly available; only participants enrolled in services with Hired Heroes USA are granted access -- making Hired Heroes USA a worthwhile investment.</p>
          <p> Just remember the golden rule: If you’re getting interviews, your resumé is working.  </p>
      </div>
      <div class="newspaper col-lg-4 col-xl-3 col-sm-6 col-xs-12">
          <div class="head">
            <span class="headline hl1">Exploring Cybersecurity Roles</span>
            <p><span class="headline hl2">WHAT'S IN A NAME? HOW TO PRUNE JOB SEARCHES</span></p>
          </div>
          <p> The plethora of opportunities available in relation to the rising demand for cybersecurity professionals is outstanding! Given the sheer volume of unfilled positions, it’s important to utilize a taxonomy in separating each role. Garnering yourself with the knowledge of job titles and their associated responsibilities is paramount to navigating your career in cybersecurity.
          Not sure if cybersecurity is for you? <strong>Military.com</strong> offers a <a href="https://www.military.com/veteran-jobs/career-discovery">Personality Assessment Tool</a> to help identify potential careers based on your unique personality and preferences. </p>

          <p> Not all cybersecurity professionals recluse away into poorly illuminated basements at all hours of the night. In fact, you may be surprised to find that most roles involve less technical articulation than imagined. For instance, many roles involve protecting sensitive information, evaluating risk, and creating plans to prevent future cyber attacks. The University of San Diego provides a great <a href="https://onlinedegrees.sandiego.edu/best-jobs-in-cyber-security/">overview of typical roles</a> in cybersecurity. As well, the <a href="https://www.cyberseek.org/pathway.html">Cyber Security Career Pathway</a>  provides an online interactive topology to assist you in dissecting the classifications.  </p>

          <div class="head">
            <span class="headline hl1"> Similar Organizations </span>
            <p><span class="headline hl2"> External Resources </span></p>
          </div>
          <p>  If you need additional help beyond the scope of The Cyber Warriors' reach, <strong>The Schultz Family Foundation</strong> has created an <a href="https://schultzfamilyfoundation.org/veterans/get-help/">aggregate of organizations</a> (much like this manual, although more abreved) that provide helpful services, opportunities to continue your service, and organizations to help you find a job. </p>
          <p>Already transitioned to the civilian sector? Do you have adequate training? <a href="https://onward2opportunity-vctp.org/">Onward to Opportunity</a> also provides an employment pipeline with direct connections to career-path counseling, job-ready training, and access to over 400 brand name employers from which veterans and military families can benefit (although not explicitly cybersecurity).   </p>

      </div>
      <div class="newspaper col-lg-4 col-xl-3 col-sm-6 col-xs-12">
          <div class="head">
            <span class="headline hl3">Shaking Hands and Kissing Babies</span>
            <p><span class="headline hl4">Elevator Pitches and Coffee Shops</span></p>
          </div>
          <p> As the heading suggests, people love hearing how awesome their products are. Now it’s time to make your presence known, and kiss some babies -- just like the Pope. The Cyber Warriors work behind the scenes to aggregate mutually beneficial relationships on your behalf, and can provide recommended avenues of approach on an individual basis. Leveraging online platforms and tools such as <a href="https://www.meetup.com/">Meetup</a> and <a href="https://www.linkedin.com/help/linkedin/answer/5868">LinkedIn InMail</a> are a great way to stay proactive in your transition. Meetup events are typically group based and LinkedIn InMail can be used to schedule one-on-one exploratory interviews (more on that below). Networking in person may seem daunting, but following a few simple guidelines can alleviate many concerns.  </p>

          <p> Albeit there are various avenues of approach, possibly the fastest way to explore opportunities is to simply ask industry professionals. With your newly branded LinkedIn Profile and freshly minted InMail credits, the process super simple. A typical example of initiating the conversation could be as follows: </p>
            <blockquote>
                I’m a veteran transitioning into cybersecurity and I’m looking for the advice of industry experts. I would greatly appreciate the opportunity to buy you a cup of coffee -- I’ll be bold and brief.
            </blockquote>
          <p> Without a doubt, someone (not everyone, however) will donate their time to help orient you to the proverbial “winds of change.” Just don’t forget -- you’re buying coffee.  </p>

          <p> Informational Interviews are essentially further inquiry to three main topics: <strong>What you have done</strong>, <strong>what you are doing</strong>, and <strong>what you will do</strong>. You should be able to condense answers to these three questions into an <strong>elevator pitch</strong>. <a href="https://www.youtube.com/watch?v=Lb0Yz_5ZYzI">The Six Step Elevator Pitch</a> breaks this process down more thoroughly. Additionally, you should <a href="https://www.youtube.com/watch?v=uyxfERV5ttY">abbreviate your elevator pitch to 140 words</a> and <a href="https://www.youtube.com/watch?v=yi41U9ahyoE">use body language</a> to drive your pitch home.</p>

      </div>
      <div class="newspaper col-lg-4 col-xl-3 col-sm-6 col-xs-12">
          <div class="head">
            <span class="headline hl5">Creating Your Brand</span>
            <p><span class="headline hl6">LinkedIn Premium for Veterans </span></p>
          </div>
          <p>
          Building an online presence is paramount to stand out from the crowd. LinkedIn has become the ubiquitous Social Media platform to showcase an online professional portfolio. Other popular Social Media options include Twitter and Facebook. Regardless of your choice in branding platform, the unofficial rule of branding is <strong>be consistent</strong>. Sharing one cybersecurity article you’ve read per week online is a good start. It brands you as relevant and proactive. Engaging content authors by commenting on their posts is another great way to add recognition and authenticity to your brand. Finally, posting photos of yourself at conferences and networking events can help others identify the tribe with whom you associate (don’t forget to smile).
          </p>
          <p>
            If you didn’t share it on social media, did it happen? This new twist on an old adage is artifact to mankind’s innate need for validation amongst peers. Showcasing a large number of connections on LinkedIn does more than validate your social sophistication, however. LinkedIn allows you to leverage second level connections (think friend of a friend) in exploring opportunities that match your interests and skills. Leveraging these connections, amongst many other features, make LinkedIn worth your investment. Portland Metro Worksource provides a guide on <a href="https://www2.worksourceportlandmetro.org/SocialMedia_155.aspx">Optimizing Your LinkedIn Profile</a>. With this guide and your new resumé in hand, you should be well on your way to establishing a polished LinkedIn profile. Perhaps only thing that missing is a professional cover photo (again, don’t forget to smile).
          </p>
          <p> Veterans are offered a <a href="https://linkedinforgood.linkedin.com/programs/veterans/premiumform">Free 1-Year Subscription for LinkedIn Premium</a>. LinkedIn Learning is bundled with the subscription and includes video on demand covering topics such as <em>LinkedIn for Veterans Tutorial, Transitioning from Military to Civilian Employment</em>, and other topics concerning professional development.  </p>
      </div>
      <div class="newspaper col-lg-4 col-xl-3 col-sm-6 col-xs-12">
          <div class="head">
            <span class="headline hl1">Staying Competitive</span>
            <p><span class="headline hl4">CERTIFICATIONS, TRAINING, AND TAX INCENTIVES</span></p>
          </div>

            <p> Cybersecurity professions frequently require certifications or credentials that demonstrate your capacity to analyze current cyber threats. Supposing you’ve identified areas where a certification would aid in transitioning into your desired role, The National Initiative for Cybersecurity Careers and Studies (NICCS) provides <a href="https://fedvte.usalearning.gov/test_coursecat.php?group=ALL">cybersecurity focused educational videos</a> delivered by accredited universities. NICCS also presents a veterans guide for <a href="https://niccs.us-cert.gov/training/veterans">launching a new career in cybersecurity</a> and details further instructions to leverage this learning resource.  </p>
            <p> If you have 6 months or less until your transition, checkout the <a href="https://onward2opportunity-vctp.org/the-program/">Training Program</a> offered by Onward To Opportunity. Onward to Opportunity offers over 30 industry-recognized career tracks and courses for successful civilian careers in growing industries. </p>
            <p> <a href="#https://iase.disa.mil/iawip/pages/index.aspx">Cyber Workforce Management Program</a> (DoDD 8140.01 &amp; DoD 8570.01-m) provides guidance and procedures for the training, certification, and management of the DoD workforce conducting Information Assurance (IA) and Information Assurance Technical (IAT) functions in assigned duty positions. Supposing you’ve identified a Federal cybersecurity role that matches your interest, these documents outline the associated requirements for that position.  </p>
            <p> The <a href="https://www.doleta.gov/business/incentives/opptax/">Work Opportunity Tax Credit (WOTC)</a> is a Federal tax credit available to employers for hiring individuals from certain target groups who have consistently faced significant barriers to employment. If unemployed for 6 months, veterans may qualify for <strong>$4,800.00</strong> tax incentives and disabled Veterans may qualify for up to <strong>$9,600.00</strong>. For the most part, the employer handles these documents, but you should be aware of their existence.  </p>

            <p> <strong> Common Pitfalls </strong> Packets are often missing a DD-214 or Disability Letter. </p>
      </div>
      <div class="newspaper col-lg-4 col-xl-3 col-sm-6 col-xs-12">
          <div class="head">
            <span class="headline hl5">Interview Preparation</span>
            <p><span class="headline hl6">ACCEPTABLE ANSWERS AND APPROPRIATE DRESS</span></p>
          </div>
          <p> After mastering the elevator pitch, only a few items remain on your pre-interview task list. A great resource to continue in the preparation is <a href="https://www.newhorizons.com/resources/webinars/webinar-archives">New Horizons Webinar Archives</a>. The archive contains videos such as Ace the Interview, Resumés that Rock, and Effective Job Search Strategy to name a few. </p>
          <p> The most acceptable answer to a behavioral interview question is <strong>STAR -- Situation, Task, Action, and Result</strong>. The <a href="https://www.indeed.com/career-advice/interviewing/how-to-prepare-for-a-behavioral-interview">Indeed Career Guide</a> overviews this interviewing technique more thoroughly. Needless to say, it’s worth your time investment to develop your STAR stories. Check out Glassdoor’s <a href="https://www.glassdoor.com/employers/blog/11-must-ask-behavioral-interview-questions/">11 Must-Ask Behavioral Interview Questions</a> for practice developing your stories.
          There are no rules indicating you cannot use cheat sheets for phone interviews. Your resumé, job posting, and your STAR stories should all be readily available during the interview. Ideally, notes taken about the company would be included here as well.  </p>
          <p> The rules of thumb concerning appropriate interviewing attire are two fold. First, <strong>overdressed trumps underdressed</strong>; you can always remove your tie or jacket. Second, dress one level higher than your interviewer; as determined by company photos. To elaborate, supposing a company posts photos of staff in slacks and a button down; you should match this attire and minimally, a tie or jacket. For a more comprehensive guide check out Career Builder’s article <a href="https://www.careerbuilder.com/advice/what-to-wear-for-different-job-interviews-based-on-the-company">What to wear for different job interviews based on the company.</a> </p>
      </div>
      <div class="newspaper col-lg-4 col-xl-3 col-sm-6 col-xs-12">
      </div>

    </div>
  </div>
</div>
