<div class="jumbotron" id="register">
  <p class="lead text-muted py-3">We Place Our Nation's Heroes in Cybersecurity Careers</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="display-3">Register Now!</h1>
      </div>
      <div class="col-lg-8">

        <div class="container-fluid">

            <form>
              <fieldset>
                <legend>Contact Information</legend>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" (click)="googleForm()" placeholder="email-address@example.com">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <a class="btn btn-primary btn-lg btn-block text-dark" href="https://goo.gl/forms/mdgMjnMdwDpdf0Y63" target="_blank" role="button">Register</a>
              </fieldset>
            </form>

        </div>

      </div>
    </div>
  </div>
</div>
