@import '../../styles.scss';

$banner-header-overflow : 472px;
$mobile-width: 360;

.jumbotron {
  margin-bottom: 1rem;
  padding: 2rem;
  padding-top: 3rem;
  background-color: rgba(255,255,255, 0.8);

  h1 {
    color: rgba(255,255,255,0.7);
    background-color: $circuit-green-dark;
    display: inline-block;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 8px 8px 2px mix(rgba(255,255,255,0.3), $circuit-green);
  }
}

form {
  margin-top: 1rem;
}

@media (max-width: 912px) {
  .jumbotron{
    h1 {
      font-size: 54px;
      display: block;
    }
    p {
      text-align: center;
    }
  }
}

@media (max-width: $banner-header-overflow) {
  .jumbotron{
    padding: 1rem;
    padding-top: 6rem;
    h1 {
      font-size: 32px;
      display: block;
    }
  }
}
