<div class="jumbotron mat-wrap" id="interview">
  <p class="lead text-muted py-3">The <strong>Interview Preparation Tool</strong> is under construction</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="display-3">Interview Prep Tool</h1>
      </div>
      <div class="col-lg-8 text-center">
        <h2 class="display-3" style="color: rgba(0,0,0,0.6)">Coming Soon</h2>
        <p class="lead text-muted py-3">Follow our progress on GitHub or contribute to the project!</p>
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3">
          <a class="btn btn-primary btn-lg btn-block" style="margin-bottom: 4rem;" role="button" target="_blank" href="https://github.com/thecyberwarriors">Project Repo</a>
        </div>
      </div>
    </div>
  </div>
</div>
